{% extends "optalg/base.html" %}
{% block content %}
<div class="container custom-background">
	<br>
	<!-- This step 1 which contains the form to request alternate algorithms -->
	<h1 class="display-3">Optimal Algorithm App</h1>
	<h2 class="display-5">Step 1: Paste a Link Here</h2>
	<h3 class="display-7">Paste a wikipedia link to an algorithm that meets your needs to find alternatives<h3>
	<form action="/app/" method="POST">{% csrf_token %}
		Link: <input type="text" name="link">
		{% csrf_token %}
		<input type="submit" name="submit" value="Submit" class="btn btn-primary">
	</form>
	<br>
	<!-- This is step 2 where alternate algorithms are returned -->
	<h2 class="display-5">Step 2: Receive a Ranked List of Alternative Algorithms</h2>
	{% if related_algs %}
	<table>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Description</th>
			<th>Link</th>
		</tr>
		{% for alg in related_algs %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{alg.0}}</td>
			<td>{{alg.1}}</td>
			<td><a target="_blank" rel="noopener noreferrer" href="{{alg}}">{{alg.2}}</a></td>
		</tr>
		{% endfor %}
	</table>
	<hr>
	{% load static %}
	<img src="{% static 'optalg/network_imgs/{{pic_id}}.png' %}" class="img-fluid" alt="Responsive image">
	{% endif %}

	<br>
</div>
{% endblock content %}