{% extends "optalg/base.html" %}
{% block content %}
<div class="container custom-background">
	<br>
	<h1 class="display-3">Optimal Algorithm App</h1>
	<h2 class="display-5">Step 1: Paste a Link Here</h2>
	<h3 class="display-7">Pase a wikipedia link to an algorithm that meets your needs to find alternatives<h3>
	<form action="/app/" method="POST">{% csrf_token %}
		Link: <input type="text" name="link">
		{% csrf_token %}
		<input type="submit" name="submit" value="Submit" class="btn btn-primary">
	</form>
	<br>
	<h2 class="display-5">Step 2: Receive a Ranked List of Alternative Algorithms</h2>
	<h3 class="display-7">Related Algorithms:</h3>
	<ol class="app-results">
		{% for alg in related_algs %}
		<li><a target="_blank" rel="noopener noreferrer" href="{{alg}}">{{alg}}</a></li>
		{% endfor %}
	</ol>
	<br>
</div>
{% endblock content %}