{% extends "optalg/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'optalg/main.css' %}">
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="display-3">Optimal Algorithm Website</h1>
        <h2 class="display-5">Find The Best Algorithm For Your Needs!</h2>
        <button class="btn btn-primary btn-lg" onclick="window.location.href='/app';">Try It Out!</button>
        <button class="btn btn-primary btn-lg" onclick="window.location.href='/writeup';">Whitepaper</button>
      </div>
    </div>
  </div>
</header>
{% endblock content %}